.acquaintance{
  margin: 25px 0 0 0;
  &__title{
    font-family: $headers-font-bold;
    font-size: 36px;
    color: $header-text-color;
    text-align: center;
  }
  &__subtitle{
    font-family: $headers-font-regular;
    font-size: 22px;
    line-height: 25px;
    color: black;
    text-align: center;
    font-weight: 600;
  }
  &__numbers{
    margin-top: 200px;
    font-family: $headers-font-regular;
    font-weight: 600;
    padding: 0 20px;
  }
}
